<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <head>
        <title>SulinOS</title>
        <link rel="Stylesheet" href="assets/css/normalize.css">
        <link rel="Stylesheet" href="assets/css/style.css">
        <link rel="icon" href="assets/images/favicon.ico">
    </head>
<body>
    <header class="header">
           <section class="top-menu">
           <h1><b>SulinOS</b></h1>
               <section class="menu">
               <ul class="links"><b>
               <la><a href="index.html">Home</a></la>
               <la><a href="https://sourceforge.net/projects/sulinos/files/ISO%20Files/">Download</a></la>
               <la><a href="https://gitlab.com/sulinos/sulin-documentation">Wiki</a></la>
               <la><a href="https://gitlab.com/sulinos">Code</a></la>
               <la><a href="https://gitlab.com/groups/sulinos/-/issues">Bugs</a></la>
               <la><a href="contact.html">Contact</a></la>
               <la><a href="gallery.html">Gallery</a></la>
               </b></ul>
               </section>
           </section>
    </header>
    <section id="features" class="features">
<!--Content begin-->
