body{
    color: white;
    background-color: #17181f;
}

.content{
    background-image: url('../images/discovery-box-bg.png');
}
a {
    color: #e2b3ff ;
}
a:hover {
    color: #ff4c00;
}
.screenshot {
  color: #ca7cf9;
  background-color: #202020;
}
.developer {
  color: #ca7cf9;
  background-color: #202020;
}
.header {
    color: #1b1b00;
}
.header h1{
    color: #ca7cf9;
}

.footer {
    color: #ff4c00;
 }

.footer a {
    color: white;
}
.footer p {
    color: #ca7cf9;
}

.top-menu{
  color: white;
}
