/**
 @Author: Dominik Ryńko
 @Website: http://rynko.pl/prosta-strona-oparta-o-html5-i-css2-1/
 @Version: 1.2
*/

html {
    background-color: black;
    color: white;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

a {
    transition: .2s ease-out, background 1s ease-in;
}



hr {
    border: 0;
    height: 1px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.screenshot {
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  color: #ff4c00;
  background-color: #202020;
  border-radius: 5px;
}
.developer {
  text-align: center;
  padding: 5px;
  background-color: #202020;
  border-radius: 5px;
}
.developer img{
  max-width: 300px;
}
table{
  width: 100%;
  height: auto;
}
/**
* Header section
*/

.header {
    background-color: #064105;
    color: #1b1b00;
}
.header h1{
    color: #ca7cf9;
}

section.menu{
    background-color: #0f000a;
    padding: 7px;
}
.menu a {
    color: #e4b5ff;
}

.menu a:hover {
    padding: 10px;
    color: #ff4c00;
}



body {
    background-color: #000000;
    color: #ffffff;
}


.read-more {
    float: right;
}

.footer {
   background-color: #0f000a;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   text-align: center;
    color: #ff4c00;
 }


.footer a {
    color: white;
    padding: 4px 8px;
    font-style: italic
}
.footer p {
    color: #ca7cf9;
    font-style: italic
}

.features{
  margin-right: 8%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left:  8%;
}
.top-menu{
  padding: 4px 8px;
  margin-top: 8px;
  background-color: #000000;
  text-align: center;
  color: #ffffff
}
.top-menu a{
    padding: 4px 8px;
}
