/**
 @Author: Dominik Ryńko
 @Website: http://rynko.pl/prosta-strona-oparta-o-html5-i-css2-1/
 @Version: 1.2
*/

html {
    background-color: white;
}

a:link,
a:visited {
    color: #000;
    text-decoration: none;
}

a {
    transition: .2s ease-out, background 1s ease-in;
}



hr {
    border: 0;
    height: 1px;
}

figure {
    display: block;
    margin: 1em 0;
}

/**
* Header section
*/

.header {
    background-color: #a641f5;
    color: #1b1b00;
}
.header h1{
    color: #1b1b00;
}

section.menu{
    background-color: #3d035e;
    padding: 7px;
}
.menu a {
    padding: 10px;
    color: #1b1b00;
}

.menu a:hover {
    padding: 10px;
    color: #ff4c00;
}

.menu a:hover {
    background-color: white
}


body {
    background-color: #f6ebff;
}


.read-more {
    float: right;
}

.footer {
    padding-top: 15px;
    min-height: 50px;
    background-color: #000000;
    clear: both;
    text-align: center;
    line-height: 30px;
}


.footer a {
    color: white;
    font-style: italic
}
.footer p {
    color: #ca7cf9;
    font-style: italic
}

.features{
  margin-right: 8%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left:  8%;
}
.top-menu{
  padding-top: 10px;
  background-color: #9c2df4;
  text-align: center;
  color: #ffffff
}
